*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}

button {
  all: unset;
  cursor: pointer;
}

:root {
  --dk-violet: hsl(268, 75%, 9%);
  --lt-violet: hsl(268, 47%, 21%);
  --lt-violet2: hsl(281, 89%, 26%);
  --vb-violet: hsl(285, 91%, 52%);
  --vb-violet2: hsl(290, 70%, 36%);

  --vb-yellow: hsl(52, 100%, 62%);

  --pl-white: hsl(0, 0%, 100%);

  --vb-cyan: hsl(176, 100%, 44%);
  --vb-cyan2: hsl(177, 92%, 70%);

  --dk-text: hsl(198, 20%, 13%);
}

.wrapper {
  height: 100vh;
  width: 100vw;
  overflow: hidden auto;
}
.container {
  background: #a8c0ff;
  background: -webkit-linear-gradient(to right, #3f2b96, #a8c0ff);
  background: linear-gradient(to right, #3f2b96, #a8c0ff);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  width: 100vw;
}

/* Main Card for Password Generator or Child of Container  */

.mainCard {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  backdrop-filter: blur(2px) saturate(500%);
  background-color: rgba(17, 25, 40, 0.325);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  width: 30%;
  min-width: fit-content;
  box-shadow: 0 0 20px 1px rgba(17, 25, 40, 0.325);
}

/* First Password Display  */
.displayContainer {
  position: relative;
  background-color: var(--lt-violet);
  padding: 0.5rem;
  min-width: 15rem;
  width: 100%;
  border-radius: 10px;
  border-bottom: 3px solid var(--vb-violet2);
}

.displayContainer input {
  background: transparent;
  border: none;
  padding: 5px;
  color: var(--vb-yellow);
  font-size: 1.5rem;
  outline: none;
  width: fit-content;
}
.displayContainer ::placeholder {
  position: absolute;
  top: 50%;
  left: 0px;
  opacity: 0.65;
}
.displayContainer button {
  position: absolute;
  top: 50%;
  right: 1rem;
  opacity: 0.65;
  transform: translateY(-50%);
}

/* Second Input Display  */
.inputContainer {
  width: 100%;
  min-width: 15rem;
  background-color: var(--lt-violet);
  padding: 10px;
  border-radius: 10px;
  border-bottom: 3px solid var(--pl-white);
}

.heading {
  text-align: center;
  color: var(--pl-white);
  font-size: 1.3rem;
  outline: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  min-width: fit-content;
}

.lengthContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  font-size: large;
  color: var(--pl-white);
}
.lengthContainer :nth-child(2) {
  color: var(--vb-yellow);
}

.slider {
  appearance: none;
  cursor: pointer;
  background: var(--vb-violet);
  background-image: linear-gradient(var(--vb-violet), var(--vb-violet2));
  border-radius: 1rem;
  width: 100%;
  height: 0.75rem;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  background-repeat: no-repeat;
  border: none;
  outline: none;
  z-index: -1;
}
/* .slider {
    appearance: none;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    border: none;
    outline: none;
    border-radius: 1rem;
    height: 0.75rem;
    background: var(--lt-violet);
    background-image: linear-gradient(var(--vb-violet), var(--vb-violet2));
    background-repeat: no-repeat;
    cursor: pointer;
  } */

/* Here we are selecting and styling thumb of slider  */
.slider::-webkit-slider-thumb {
  appearance: none;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  background-color: var(--vb-yellow);
  cursor: pointer;
  margin-top: -3px;
  box-shadow: 0px 0px 20px 0px rgba(255, 229, 61, 0.5);
  transition: all 100ms ease-in;
  z-index: 2;
  position: relative;
}

.slider::-webkit-slider-thumb:hover {
  background-color: var(--dk-violet);
  outline: 1px solid var(--vb-yellow);
}

.slider:focus {
  outline: 1.5px solid var(--vb-yellow);
}

/* Checkboxes */

.check {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  gap: 0 0.4rem;
}

.check input {
  /* this will remove default style */
  appearance: none;
  width: 15px;
  height: 15px;
  border: 1px solid var(--vb-cyan);
  cursor: pointer;
  position: relative;
  border-radius: 0.35rem;
}

.check input:checked {
  background-color: var(--vb-cyan);
}

.check input:checked::before {
  content: "✔";
  position: absolute;
  color: var(--dk-text);
  font-size: 1.05rem;
  font-weight: 600;
  left: 50%;
  top: -3.5px;
  transform: translateX(-50%) translateY(-8%);
}

/* Strength Container  */

.strengthContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  padding: 10px;
  border: 1px solid transparent;

  margin-bottom: 1rem;
}

.strengthContainer p {
  color: var(--pl-white);
  font-size: 1.5rem;
}

#strengthText {
  font-size: 1rem;
  color: black;
}

.indicator {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
}

#indicatorBox {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 13px;
}

.BtnBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 10px 0px;
  /* padding: 1rem 0; */
  width: 100%;
}

.btn {
  background: var(--vb-violet);
  color: var(--vb-yellow);
  font-weight: 600;
  text-transform: uppercase;
  padding: 5px;
  border-bottom: 2px solid var(--vb-yellow);
  border-radius: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
  width: 50%;
}
